@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Sarala', sans-serif;
    background: linear-gradient(68.15deg, #c4b279 16.62%, #f39122 83.38%);  
    margin: 0px;
    padding:0px;
    list-style: none;
    font-size: 100%;
    padding-top: 95px;
         
}
.header_fixo{
    position: fixed;
    width: 100%;
    top: 0;
}

.header {
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.logo {
    width: 150px; /* you can use % */
    height: auto;
    
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.menu_item{
  font-family: 'Sarala', sans-serif;
  color: orange;
  font-weight: 400;
  font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 2px solid #FFF2E7;
}

.titulo {
    color:white;
    text-align: center;
}


.texto {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}

.textoinicio {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color:white;
    text-align: center;

   
}

.primeiro_titulo {
    font-size:50px;
    text-shadow: 2px 2px 5px red;
}

.segundo_titulo {
    font-size: 40px ;
    text-shadow: 2px 2px 5px red;
}



.textoiniciotitulo{
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 40px;
  color:white
}

.textoiniciosegundo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;

}
.botao_orcamento{
background-color: #ECD6C4;
width: 300px;
height: 100px;
border: none;
box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 24px;
color: white;
text-shadow: 2px 2px 5px black;
align-self: center;
}

.botao_orcamento:hover{
    background-color: #34af23;
}

.conteudo_imagem {
    height: 350px;
}

.conteudo_secundario_titulo{
    border-top: 2px solid #FFF2E7;
    margin-bottom: 16px;
    padding-top: 48px;
    color: white;
    align-self: center;
    text-align: center;
    text-shadow: 2px 2px 5px red;
    padding-bottom: 10px;

}

.conteudo_secundario_texto{
    text-indent: 50px;
    padding-bottom: 10px;
    color:whitesmoke;
}


.rodape{
    padding: 32px;
    border-top: 2px solid #FFF2E7;
}

.rodape_imagem {
    height: 150px;
    display: block;
    margin: 0 auto;

}

.conteudosobremim{
    margin-bottom: 48px;
    border-top: 2px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    gap: 40px;

}

.conteudo_texto{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 100%;
}




